# Copyright (c) 2018-2020, Dawid Potocki

# Permission to use, copy, modify, and distribute this software for any
# purpose with or without fee is hereby granted, provided that the above
# copyright notice and this permission notice appear in all copies.

# THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES
# WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF
# MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR
# ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES
# WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN
# ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF
# OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.

! special
*.foreground: #cccccc
*.background: #181b21

! black
*.color0:     #181b21
*.color8:     #252933

! red
*.color1:     #cf5252
*.color9:     #cf5252

! green
*.color2:     #92ad4a
*.color10:    #92ad4a

! yellow
*.color3:     #c9895b
*.color11:    #c9895b

! blue
*.color4:     #6f97b8
*.color12:    #6f97b8

! magenta
*.color5:     #966bab
*.color13:    #966bab

! cyan
*.color6:     #6fa69f
*.color14:    #6fa69f

! white
*.color7:     #cccccc
*.color15:    #cccccc

st.font: DejaVu Sans Mono:pixelsize=12:antialias=true:hintstyle=hintmedium
